body {
    font-family: 'Fira Mono', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
  }
  section {
    background: #ffffff;
    height: 100vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    align-items: center;
  }
  .section-modal {
    position: relative;
    overflow: hidden;
  }
  .section-modal .profile {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    align-items: center;
    background: #eee;
    background: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 0px 23px 30px -20px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .section-modal .profile:hover {
    cursor: pointer;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0px 27px 30px -20px rgba(0,0,0,0.3);
  }
  .section-modal .profile .name {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 20px;
  }
  .section-modal .profile .meta {
    color: rgba(0,0,0,0.4);
    font-family: 'Fira Mono', sans-serif;
  }
  .section-modal .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #eee;
  }
  .section-modal .overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    align-items: center;
    display: none;
  }
  .section-modal .overlay .modal {
    width: 450px;
    box-shadow: 0px 23px 30px -20px rgba(0,0,0,0.4);
  }
  .section-modal .overlay .modal .title {
    background: #0c8eff;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
  }
  .section-modal .overlay .modal .body {
    background: #fff;
    border-radius: 0 0 4px 4px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    align-items: stretch;
  }
  .section-modal .overlay .modal .body .text {
    padding: 30px;
  }
  .section-modal .overlay .modal .body .text p {
    margin-bottom: 20px;
  }
  .section-modal .overlay .modal .body .img {
    height: 180px;
    width: 140px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }
  .section-modal .overlay.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  .section-modal .overlay.is-active .modal {
    -webkit-animation: modal 5s ease-in-out forwards;
    animation: modal 5s ease-in-out forwards;
  }
  @-webkit-keyframes modal {
    0% {
      -webkit-transform: translateX(-200%) rotate(-90deg);
      transform: translateX(-200%) rotate(-90deg);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    15%, 85% {
      -webkit-transform: translateX(0%) rotate(0deg);
      transform: translateX(0%) rotate(0deg);
      opacity: 1;
      -ms-filter: none;
      -webkit-filter: none;
              filter: none;
    }
    100% {
      -webkit-transform: translateX(200%) rotate(90deg);
      transform: translateX(200%) rotate(90deg);
    }
  }
  @keyframes modal {
    0% {
      -webkit-transform: translateX(-200%) rotate(-90deg);
      transform: translateX(-200%) rotate(-90deg);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    15%, 85% {
      -webkit-transform: translateX(0%) rotate(0deg);
      transform: translateX(0%) rotate(0deg);
      opacity: 1;
      -ms-filter: none;
      -webkit-filter: none;
              filter: none;
    }
    100% {
      -webkit-transform: translateX(200%) rotate(90deg);
      transform: translateX(200%) rotate(90deg);
    }
  }
  .colmd{
    margin-right: 40px;
  }
  